@charset "utf-8";

img{
    display: block;
}

.box{
    width: 200px;
    height: auto;
    border: 1px solid;
    float: left
}

.box.box1{
    background: #faa;
}

.box.box2{
    background: #afa;
}

.box.box3{
    background: #faf;
}