@charset "utf-8";
div.box{
    width: 200px;
    height: 200px;
    border: 1px solid #ff0000;
    font-size: 30px;
    margin: 0 auto
}
div.box.box1{
    background: #000000;
    color: #ffffff;
    text-align: left;
    line-height: 200px;
}
div.box.box2{
    background: #ff0000;
    color: #ffff00;
    text-align: center;
    line-height: 200px;
}
div.box.box3{
    background: #00ff00;
    color: #ff0000;
    text-align: right;
    line-height: 200px;
}
div.box.box4{
    background: #0000ff;
    color: #000000;
}

p.p1{
    background: #999999;
    width: 300px;
    height: auto;
    margin: 0 auto;
    line-height: 25px;
    padding: 10px;
    /* overflow: scroll; */
}
















